*.DS_Store
*.patch
*.diff
*/.libs
*/.deps
*.a
*.o
*.la
*.lo
*.so
*Makefile
*Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
tsschecker/tsschecker
tsschecker.xcodeproj/project.xcworkspace/xcuserdata
*/xcuserdata/*
configure~
Build/
tsschecker.xcodeproj/xcshareddata/xcschemes
libtsschecker.pc
project.xcworkspace
xcshareddata
